.rc-intro {
    background-color: #222;
    padding: 2rem;
    text-align: center;
    margin-bottom: 3rem;
  }
  
  .rc-img {
    max-width: 50px;
  }
  
  .rc-title {
    font-size: 5rem;
    margin-top: 3rem;
    color: #fff;
    font-family: 'Open Sans';
    font-weight: 700;
    letter-spacing: -2px;
  }
  
  .rc-description {
    margin-top: 2rem;
    font-size: 2rem;
    color: #ccc;
  }
  
  .user-list {
    cursor: pointer;
  }
  
  .user-list__user-image {
    width: 80px;
    height: 80px;
  }
  
  .user-info__user-image {
    display: block;
    width: 90%;
    margin: 0 auto 50px;
  }
  
  .h-bordered {
    border: 1px solid #eaeaea;
    border-radius: 3px;
  }
  
  .sorting {
    margin-bottom: 20px;
  }
  
  .sorting__button {
    margin-right: 20px;
  }